@import "tailwindcss";

@font-face {
  font-family: 'qurova';
  src: url('../../public/Fonts/qurova-demo.light.otf') format('woff2'),
  
}
.qurova {
  font-family: 'qurova', sans-serif;
 
}
/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
